<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>

    <![endif]-->
</head>
<!--/head-->
<body data-spy="scroll" data-target="#navbar" data-offset="0">

    <header id="header" role="banner">
        <div class="container">
            <div id="navbar" class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{% url 'home' %}"><i class="icon-home"></i></a></li>
                            <li><a href="/#Monitoring">Monitoring</a></li>
                            <li><a href="/#Visualizing">Visualizing</a></li>
                            <li><a href="/#Provisioning">Provisioning</a></li>
                            <li><a href="/#Networking">Networking</a></li>
                            <li><a href="/#Web">Web</a></li>
                            <li><a href="/#Deployment">Deployment</a></li>
                            <li><a href="/#Other">Other</a></li>
                        <li><a href="/#contact">Contacts</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!--/#header-->

{% block main_content %}{% endblock %}
{% block article_body %}{% endblock %}

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2016 <a target="_blank" href="http://shapebootstrap.net/">DevOPS space</a>. All Rights Reserved.
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.isotope.min.js' %}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script src="%{ static 'js/main.js' %}"></script>
</body>
</html>