{% load staticfiles %}
{% load thumbnail %}
{% block article_body %}

<!-- Header -->
<div class="modal-header">
    <div class="content-section-heading">
        <h3 class="modal-title" >{{ article.header }}</h3>
    </div>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<!-- Body -->
<div class="modal-body">
    <img class="img-fluid rounded mx-auto d-block mt-5" src="{{ MEDIA_URL }}/{{ article.header_image }}" alt="">
    <div class="col col-lg-12 mt-5">{{ article.content|safe }}</div>
</div>

<!-- Close btn-->
<div class="modal-footer">
    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
</div>
{% endblock %}