<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

<div class="container">
  <form id="contact" action="" method="post">
    <h3>New Uer Registration Form</h3>

    <fieldset>
      <input placeholder="First Name" type="text" tabindex="1" required autofocus>
    </fieldset>

    <fieldset>
      <input placeholder="Last Name" type="text" tabindex="1" required autofocus>
    </fieldset>

    <fieldset>
      <input placeholder="Email Address" type="email" tabindex="2" required>
    </fieldset>

    <fieldset>
      <input placeholder="Phone Number (optional)" type="tel" tabindex="3" required>
    </fieldset>

    <fieldset>
      <input placeholder="Primary skill" type="url" tabindex="4" required>
    </fieldset>

    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>

  </form>
</div>

</body>
</html>