<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% if request.user.is_authenticated %}Logged In{% else %}Not Logged In{% endif %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
    <script src="{% static 'js/jquery.js' %}"></script>
</head>
<!--/head-->

<body data-spy="scroll" data-target="#navbar" data-offset="0">

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '445122825691967',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
    <header id="header" role="banner">
        <div class="container">
            <div id="navbar" class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/#main-slider"><i class="icon-home"></i></a></li>
                            <li><a href="/#Monitoring">Monitoring</a></li>
                            <li><a href="/#Visualizing">Visualizing</a></li>
                            <li><a href="/#Provisioning">Provisioning</a></li>
                            <li><a href="/#Networking">Networking</a></li>
                            <li><a href="/#Web">Web</a></li>
                            <li><a href="/#Deployment">Deployment</a></li>
                            <li><a href="/#Other">Other</a></li>
                        <li><a href="/#contact">Contacts</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

{% if request.user.is_authenticated %}
    <a href="/accounts/logout/" class="pull-right">Logout</a>
    {% if request.user.first_name or request.user.last_name %}
        {{ request.user.first_name }} {{ request.user.last_name }}
    {% else %}
        {{ request.user.username }}
    {% endif %}
    {% if request.user.profile.account_verified %} (verified) {% else %} (unverified) {% endif %}

{% else %}
    <a href="/accounts/login/" class="pull-right">Login</a>
{% endif %}
    <!--/#header-->

{% block main_content %}{% endblock %}
{% block article_body %}{% endblock %}
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2016 <a target="_blank" href="http://shapebootstrap.net/">DevOPS space</a>. All Rights Reserved.
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.isotope.min.js' %}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
<script>
var iScrollPos = 0;
$(window).scroll(function () {
    var iCurScrollPos = $(this).scrollTop();
    if (iCurScrollPos > iScrollPos) {
        $("#header").hide("fast");
    } else {
       $("#header").show("slow");
    }
    iScrollPos = iCurScrollPos;
});

</script>
</body>
</html>
