Django==3.1.6
django-summernote==0.8.11.6
django-tinymce==3.2.0
django-wysiwyg-redactor==0.5.1
easy-thumbnails==2.7.1
Pillow==8.0.1
psycopg2==2.8.6
sqlparse==0.4.1
Sphinx==3.3.1
coverage==5.3
supervisor==4.2.1
uWSGI==2.0.19.1